:root
{
   --principal: #175a9cbe;
   --blanco: #fff;
   --color_Celda: rgb(119, 119, 122);
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body
{
    background-color: var(--principal);
}

.contenedor__juego
{
    background-color: var(--blanco);
    margin: auto;
    margin-top: 5rem;
    display: grid;
    gap: .1rem;
    padding: .3rem;
}

.celda
{
    float: left;
    color: var(--blanco);
    background-color: var(--color_Celda);
    width: 10rem;
    height: 10rem;
    margin: auto;
    line-height: 10rem;
    text-align: center;
    font-size: x-large;
}

#seconds
{
    margin-top: 0;
    font-size: 5rem;
    color: black;
    width: 12rem;
    height: 7rem;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.contenedor_datos
{
    width: 42rem;
    margin: auto;
    margin-top: 2rem;
    color: white;
    background-color: #175a9cbe;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.datos
{
    font-size: 4rem;
    margin: auto;
    text-align: center;
}

.s4
{
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,1fr);
}

.s5
{
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(5,1fr);
}

.s6
{
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(6,1fr);
}

.s7
{
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: repeat(7,1fr);
}
.s8
{
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(8,1fr);
}
.s9
{
    grid-template-columns: repeat(9,1fr);
    grid-template-rows: repeat(9,1fr);
}
.s10
{
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(10,1fr);
}
